.bookmarks {
	font-size: 30px;
}

.form-small {
	text-align: center;
	max-width: 200px;
}

.form-input-small {
	margin-left: 25px;
}

.text-blue {
	color: #428bca;
}

.category-name {
	font-size: 20px;
}