.resize {
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 400px;
}

.image {
	margin: 5vh 0px 5vh 0px;
}

.title {
	color: #C1514F
}

p, li {
	font-size: 18px;
}

.heavy {
	border: none;
	height: 1px;
	color: #333;
	background-color: #333;
}

.home-link > i, a.back-link {
	font-size:30px;
	color:#C1514F;
}

a.home-link:hover {
	text-decoration: none;
	color: #C1514F;
}

a:hover {
	text-decoration: none;
}