body {
	background-color: black;
}

.headline {
	color: white;
}


#stan {
	background: url(../images/characters-sprite.png) 0 0;
	background-repeat: no-repeat;
	height: 150px;
}

#kyle {
	background: url(../images/characters-sprite.png) -207px 0;
	background-repeat: no-repeat;
	height: 150px;
}

#kenny {
	background: url(../images/characters-sprite.png) -619px 0;
	background-repeat: no-repeat;
	height: 150px;
}

#cartman {
	background: url(../images/characters-sprite.png) -310px 0;
	background-repeat: no-repeat;
	height: 150px;
}

#wendy {
	background: url(../images/characters-sprite.png) -413px 0;
	background-repeat: no-repeat;
	height: 150px
}

#ike {
	background: url(../images/characters-sprite.png) -517px 0;
	height: 150px;
	background-repeat: no-repeat;
}

#tweek {
	background: url(../images/characters-sprite.png) -105px 0;
	height: 150px;
	background-repeat: no-repeat;
}

.tile {
	background-color: #ffffff;
	display: inline-block;
	width: 120px;
	padding: 10px 10px 10px 10px;
	margin: 25px 10px 25px 10px;
	opacity: 0.5;
	border-radius: 5px;
}

.name {
	text-align: center;
}

.tile:hover {
	opacity: 1;
}